{% extends 'base.html.twig' %}

{% block title %}🎉 DataTable Modelo{% endblock %}

{% block body %}
    <link href="{{ asset('styles/datatable.css') }}" rel="stylesheet"/>

    <table id="tabela-example" class="display" style="width:100%" data-order='[[ 1, "asc" ]]' data-page-length='25'>
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 2</th>
            <th data-class-name="priority">Column 3</th>
        </tr>
        </thead>
    </table>
    <script type="module" src="{{ asset('datatable.js') }}"></script>
{% endblock %}
